[Unit]
Description=Import the sensors PD inputs of the Xiaomi Pad 8 Pro
ConditionFirmware=device-tree-compatible(xiaomi,piano)
DefaultDependencies=no
Wants=dev-disk-by\x2dpartlabel-odm_a.device dev-disk-by\x2dpartlabel-persist.device
After=local-fs.target dev-disk-by\x2dpartlabel-odm_a.device dev-disk-by\x2dpartlabel-persist.device
Before=hexagonrpcd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/piano-sensors/piano-sensors-import
